@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.loading-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  animation: spinout 1s ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: both;
  position: fixed;
  background: white;
  justify-content: center;
}

@keyframes spinout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading-spinner:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
  border: 6px solid transparent;
  animation: spin 1.2s ease-in-out infinite;
  border-top-color: #9356DC;
}

.loading-spinner:before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
  border: 6px solid transparent;
  animation: spin 1.2s ease-in-out infinite;
  border-bottom-color: #FF79DA;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
  color: #5e5e5e;
  font-weight: bold;
  box-shadow: 0px -3px 0px 0px #d6d6d6;
}
.location p {
  padding-left: 3%;
}
@media only screen and (min-width: 992px) {
  .location p {
    padding-left: 1%;
  }
}

.explore {
  display: flex;
  background: #f6f6f6;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.explore h1 {
  text-align: center;
  margin: 6% 13% 0px 13%;
}
@media only screen and (min-width: 992px) {
  .explore h1 {
    margin: 2% 0% 0% 0%;
    font-size: xx-large;
  }
}
.explore p {
  text-align: center;
  margin: 11px 25px 0px 25px;
}
@media only screen and (min-width: 992px) {
  .explore p {
    font-size: medium;
  }
}

.button {
  width: 50%;
  max-width: 50%;
  margin: 3rem auto;
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  color: white;
  flex-wrap: nowrap;
  border-radius: 30px;
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .button {
    width: 30%;
    max-width: 30%;
  }
}
.button:hover {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.fonctioning {
  font-family: "Roboto", sans-serif;
}
@media only screen and (min-width: 768px) {
  .fonctioning {
    display: flex;
    margin: 4% 2% 4% 2%;
    flex-wrap: wrap;
  }
}
.fonctioning h2 {
  margin-left: 7%;
  margin-top: 10%;
  border: none;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .fonctioning h2 {
    margin: 0% 61% 4% 3%;
    font-size: x-large;
  }
}
@media only screen and (min-width: 992px) {
  .fonctioning h2 {
    margin: 0% 61% 4% 1%;
    font-size: xx-large;
  }
}
.fonctioning .choice, .fonctioning .degustation, .fonctioning .composition {
  display: flex;
  align-items: center;
  border: solid 1px #f6f6f6;
  margin: 8% 6%;
  border-radius: 30px;
  box-shadow: 2px 4px #e1e1e1;
  background: #f6f6f6;
  transition: 0.2s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .fonctioning .choice, .fonctioning .degustation, .fonctioning .composition {
    width: 30%;
    max-width: 30%;
    margin: 0% 0% 0% 3%;
  }
}
@media only screen and (min-width: 992px) {
  .fonctioning .choice, .fonctioning .degustation, .fonctioning .composition {
    width: 25%;
    max-width: 25%;
    margin: 0% 4% 0% 4%;
  }
}
.fonctioning .choice:hover, .fonctioning .degustation:hover, .fonctioning .composition:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transform: scale(1.05);
  background: #f5edff;
  transition: 0.2s ease-in-out;
}
.fonctioning .choice:hover i, .fonctioning .degustation:hover i, .fonctioning .composition:hover i {
  color: #ae6eff;
  transition: 0.2s ease-in-out;
}
.fonctioning .choice .number, .fonctioning .degustation .number, .fonctioning .composition .number {
  display: flex;
  align-items: center;
  border-radius: 100%;
  padding: 2%;
  font-size: 76%;
  color: white;
  background: #ae6eff;
  height: 6px;
  margin-left: -3%;
}
.fonctioning .choice i, .fonctioning .degustation i, .fonctioning .composition i {
  margin-left: 8%;
}
@media only screen and (min-width: 768px) {
  .fonctioning .choice i, .fonctioning .degustation i, .fonctioning .composition i {
    margin-left: 5%;
  }
}
.fonctioning .choice p, .fonctioning .degustation p, .fonctioning .composition p {
  margin: 7%;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .fonctioning .choice p, .fonctioning .degustation p, .fonctioning .composition p {
    margin: 7% 7% 7% 4%;
  }
}
.fonctioning .degustation {
  background: #f5edff;
}
.fonctioning .degustation i {
  color: #ae6eff;
}

.Restaurants {
  background: #f6f6f6;
  font-family: "Roboto", sans-serif;
  padding-bottom: 7%;
}
@media only screen and (min-width: 992px) {
  .Restaurants a {
    display: inline-grid;
    margin: 1%;
    flex-wrap: wrap;
  }
}
.Restaurants h2 {
  margin-left: 7%;
  padding-top: 10%;
  border: none;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .Restaurants h2 {
    margin-left: 5%;
    padding-top: 2%;
    font-size: x-large;
  }
}
@media only screen and (min-width: 992px) {
  .Restaurants h2 {
    margin-left: 3%;
    font-size: xx-large;
  }
}
@keyframes restaurant {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Restaurants .Restaurants-elements {
  display: flex;
  flex-direction: column;
  margin: 5%;
  border-radius: 20px;
  box-shadow: #f4f4f4 4px 4px 1px;
  background: white;
  transition: 0.2s ease-in-out;
  position: relative;
  animation: restaurant 3.3s ease-in-out;
  animation-delay: 0s;
}
@media only screen and (min-width: 992px) {
  .Restaurants .Restaurants-elements {
    width: 36em;
    height: 20em;
  }
}
.Restaurants .Restaurants-elements:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}
.Restaurants .Restaurants-elements img {
  object-fit: cover;
  height: 10em;
  border-radius: 20px 20px 0 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .Restaurants .Restaurants-elements img {
    height: 15em;
  }
}
.Restaurants .banner {
  display: flex;
  position: absolute;
  right: 2.5em;
  margin-top: 1.3em;
  background: #99e2d0;
  color: #008665;
  border-radius: 3px;
}
@media only screen and (min-width: 768px) {
  .Restaurants .banner {
    right: 2.5em;
  }
}
@media only screen and (max-width: 480px) {
  .Restaurants .banner {
    right: 1.5em;
  }
}
.Restaurants .banner p {
  margin: 6px 10px 6px 10px;
}
.Restaurants .elements-text {
  display: grid;
  margin-left: 3%;
}
.Restaurants .elements-text .elements-name {
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .Restaurants .elements-text .elements-name {
    padding-right: 20em;
  }
}
.Restaurants .elements-text .elements-name h3 {
  margin-bottom: 0;
  margin-top: 10%;
}
.Restaurants .elements-text .elements-name P {
  margin-top: 3%;
}
.Restaurants .elements-text .fa-regular {
  grid-column: 2/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.Restaurants .elements-text .fa-regular:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: -webkit-linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Restaurants .elements-text .fa-solid {
  grid-column: 2/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  color: #f6f6f6;
}
.Restaurants .elements-text .fa-solid:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: -webkit-linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: x-large;
  transition: 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.images img {
  width: 100%;
  height: 17em;
  max-height: 17em;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .images img {
    height: 29em;
    max-height: 29em;
  }
}

.Menu {
  display: flex;
  flex-direction: column;
  border-radius: 33px 33px 0px 0px;
  margin-top: -3em;
  position: relative;
  background: #f6f6f6;
}
.Menu .Name {
  display: grid;
  align-items: center;
}
.Menu .Name h1 {
  margin-right: auto;
  margin-left: 7%;
  font-family: "Shrikhand", cursive;
  font-size: x-large;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .Menu .Name h1 {
    margin-right: 12em;
    font-size: xx-large;
    margin-left: 3%;
  }
}
.Menu .Name .fa-regular {
  grid-column: 2/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
@media only screen and (min-width: 768px) {
  .Menu .Name .fa-regular {
    font-size: xx-large;
  }
}
.Menu .Name .fa-solid {
  grid-column: 2/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #f6f6f6;
}
.Menu .Name .fa-solid:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: -webkit-linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s cubic-bezier(0.4, 0, 1, 1);
  font-size: 2.2em;
}
@media only screen and (max-width: 767px) {
  .Menu .Name .fa-solid:hover {
    font-size: 1.6em;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  margin: 3% 0% 0% 5%;
  border-bottom: 4px solid #9fe3d2;
  width: 12%;
  font-size: large;
  font-weight: 100;
}
@media only screen and (min-width: 768px) {
  h2 {
    margin: 3% 0% 0% 3%;
  }
}

.elements-menu {
  margin: 0% 5% 0% 5%;
}
@media only screen and (min-width: 768px) {
  .elements-menu {
    margin: 0%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.elements-menu .menu-description {
  display: flex;
  border-radius: 14px;
  background: white;
  box-shadow: 1px 2px 10px #b7b7b7;
  margin: 5% 0% 5% 0%;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-animation-name: show;
  -webkit-animation-name: show;
  animation: show 1s forwards;
  opacity: 0;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .elements-menu .menu-description {
    width: 23em;
    margin: 2%;
  }
}
.elements-menu .menu-description:hover .fa-solid {
  rotate: 360deg;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}
.elements-menu .menu-description:hover .border-check {
  width: 4em;
  opacity: 100;
}
.elements-menu .menu-description .border-check {
  display: flex;
  align-items: center;
  opacity: 0;
  width: 0;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
  justify-content: center;
  border-radius: 0px 14px 14px 0px;
  background: #99e2d0;
  cursor: pointer;
}
.elements-menu .menu-description .border-check .fa-solid {
  color: white;
  font-size: 1.6em;
}
.elements-menu .dishes-name {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 3%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.elements-menu .dishes-name h3 {
  margin: 13px 0px 5px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.elements-menu .dishes-name p {
  margin: 5px 0px 13px 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.elements-menu p.price {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin: 2% 5% 4% 0%;
  font-weight: bold;
}

.elements-menu:nth-child(1) {
  animation-delay: 1s;
}

.menu-description:nth-child(1) {
  animation-delay: 0.3s;
}

.menu-description:nth-child(2) {
  animation-delay: 0.6s;
}

.menu-description:nth-child(3) {
  animation-delay: 0.9s;
}

@keyframes show {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  font-family: "roboto";
  margin: 0;
}
body a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  header {
    justify-content: center;
  }
}
header a {
  position: absolute;
  padding-left: 10%;
  left: 1%;
}
header a:hover {
  font-size: xx-large;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: -webkit-linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .border-logo {
  margin: 5%;
}
@media only screen and (min-width: 992px) {
  header .border-logo {
    margin: 3%;
  }
}
header .border-logo #logo {
  display: flex;
  width: 48%;
  margin: auto;
  font-family: "Shrikhand", cursive;
}
@media only screen and (min-width: 768px) {
  header .border-logo #logo {
    width: 80%;
  }
}

.footer-elements {
  background: #353535;
}
@media only screen and (min-width: 768px) {
  .footer-elements {
    display: flex;
    flex-direction: column;
  }
}
.footer-elements h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 100;
  margin: 0;
  padding: 7% 0% 0% 6%;
}
@media only screen and (min-width: 768px) {
  .footer-elements h3 {
    padding: 2% 0% 0% 6%;
  }
}
@media only screen and (min-width: 992px) {
  .footer-elements h3 {
    padding: 2% 0% 0% 3%;
  }
}
.footer-elements .footer-text {
  padding-top: 2%;
  padding-bottom: 8%;
}
@media only screen and (min-width: 992px) {
  .footer-elements .footer-text {
    justify-content: space-around;
  }
}
.footer-elements ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 2%;
  padding-left: 6%;
}
@media only screen and (min-width: 768px) {
  .footer-elements ul {
    width: 12em;
  }
}
@media only screen and (min-width: 992px) {
  .footer-elements ul {
    padding-left: 3%;
  }
}
.footer-elements ul li {
  color: white;
}
.footer-elements ul li a {
  color: white;
}
.footer-elements .proposition i {
  font-size: 70%;
}
.footer-elements .proposition a {
  margin-left: 2%;
}
.footer-elements .partner i {
  font-size: 70%;
}
.footer-elements .partner a {
  margin-left: 1%;
}

/*# sourceMappingURL=style.css.map */
