/*Accueil*/
@import "../Utils/mixin";
.loading-spinner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    animation: spinout 1s ease-in-out;
    animation-delay: 3s;
    animation-fill-mode: both;
    position: fixed;
    background: white;
    justify-content: center;
    
} 
@keyframes spinout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        position: initial;
    }
  }
.loading-spinner:after{
    @include loading;
    border-top-color:#9356DC;
  }
  .loading-spinner:before{
    @include loading;
    border-bottom-color:#FF79DA;
  }
  @keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
  }
header{
    @media only screen and (min-width:  768px){
        justify-content: center; 
    }
    .border-logo{
        margin: 5%;
        @media only screen and (min-width: 992px){
            margin: 3%;
        }
            #logo{
            display: flex;
            width: 48%;
            margin: auto;
            font-family: $font-family-logo;
            @media only screen and (min-width: 768px){
                width: 80%;
            }
        }
    }
}   
    
.location{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eaeaea;
        font-family: $font-family-title;
        color: #5e5e5e;
        font-weight: bold;
        box-shadow: 0px -3px 0px 0px #d6d6d6;;
        p{
            padding-left: 3%;
            @media only screen and (min-width: 992px){
               padding-left: 1%;
            }
        }
}
.explore{
    display: flex;
    background: #f6f6f6;
    flex-direction: column;
    align-items: center;
    font-family: $font-family-title;
        h1{
            text-align: center;
            margin: 6% 13% 0px 13%;
            @media only screen and (min-width: 992px){
                margin: 2% 0% 0% 0%;
                font-size: xx-large;
            }
        }
        p{
            text-align: center;
            margin: 11px 25px 0px 25px;
            @media only screen and (min-width: 992px){
                font-size: medium;
            }
        }
    }
.button {
        width: 50%;
        max-width: 50%;
        margin: 3rem auto;
        background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
        color: white;
        flex-wrap: nowrap;
        border-radius: 30px;
        padding: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        @media only screen and (min-width: 992px){
           width: 30%;
           max-width: 30%;
        }
        
        &:hover{
            filter: brightness(1.1);
            box-shadow:  rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
            
        }
    }

.fonctioning{
    font-family: $font-family-title;
    @media only screen and (min-width: 768px){
        display: flex;
        margin: 4% 2% 4% 2%;
        flex-wrap: wrap;
    }
    h2{
        margin-left: 7%;
        margin-top: 10%;
        border: none;
        font-weight: bold;
       
        @media only screen and (min-width: 768px){
            margin: 0% 61% 4% 3%;
            font-size: x-large;
        }
         @media only screen and (min-width: 992px){
            margin: 0% 61% 4% 1%;
            font-size: xx-large;
        }
    }
    .choice{
        display: flex;
        align-items: center;
        border: solid 1px #f6f6f6;
        margin: 8% 6%;
        border-radius: 30px;
        box-shadow: 2px 4px #e1e1e1;
        background: #f6f6f6;
        transition: 0.2s ease-in-out;
        @media only screen and (min-width: 768px){
            width: 30%;
            max-width: 30%;
            margin: 0% 0% 0% 3%;
        }
        @media only screen and (min-width: 992px){
            width: 25%;
            max-width: 25%;
            margin: 0% 4% 0% 4%;
        }
        &:hover{
            box-shadow:  rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            transform: scale(1.05);
            background: #f5edff;
            transition: 0.2s ease-in-out;
            i{
                color: #ae6eff;
                transition: 0.2s ease-in-out;
            }
        }
            .number{
                display: flex;
                align-items: center;
                border-radius: 100%;
                padding: 2%;
                font-size: 76%;
                color: white;
                background: #ae6eff;
                height: 6px;
                margin-left: -3%;
            }
            i{
                margin-left: 8%;
                @media only screen and (min-width: 768px){
                    margin-left: 5%;
                    
                }
            }

            p{
                margin: 7%;
                font-weight: bold;
                @media only screen and (min-width: 768px){
                    margin: 7% 7% 7% 4%;
                }
            }
    }
    .composition{
        @extend .choice;
    }
    .degustation{
        @extend .choice;
        background: #f5edff;
        i{
            color: #ae6eff;
        }
    }
}
.Restaurants{
    background: #f6f6f6;
    font-family: $font-family-title;
    padding-bottom: 7%;
    a{
        @media only screen and (min-width: 992px){
           display: inline-grid;
           margin: 1%;
           flex-wrap: wrap;
        }
    }
    h2{
        margin-left: 7%;
        padding-top: 10%;
        border: none;
        font-weight: bold;
        @media only screen and (min-width: 768px){
            margin-left: 5%;
            padding-top: 2%;
            font-size: x-large;
        }
        @media only screen and (min-width: 992px){
            margin-left: 3%;
            font-size: xx-large;
        }
    }
    @keyframes restaurant{
        0%{
            opacity: 0;
        }
        99%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .Restaurants-elements{
        display: flex;
        flex-direction: column;
        margin: 5%;
        border-radius: 20px;
        box-shadow: #f4f4f4 4px 4px 1px;
        background: white;
        transition: 0.2s ease-in-out;
        position: relative;
        animation: restaurant 3.3s ease-in-out;
        animation-delay: 0s;
        @media only screen and (min-width: 992px){
            width: 36em;
            height: 20em;
        }
        &:hover{
            transform: scale(1.02);
            transition: 0.2s ease-in-out;
        }
        
        img{
            object-fit: cover;
            height: 10em;
            border-radius: 20px 20px 0 0;
            width: 100%;
            @media only screen and (min-width: 768px){
                height: 15em;
            }
        }
    }
    .banner{
            display: flex;
            position: absolute;
            right: 2.5em;
            margin-top: 1.3em;
            background: #99e2d0;
            color: #008665;
            border-radius: 3px;
            @media only screen and (min-width: 768px){
                right: 2.5em;
            }
            @media only screen and (max-width: 480px){
                right: 1.5em;
            }
            p{
                margin: 6px 10px 6px 10px;
            }
        }
    .elements-text{
        display: grid;
        margin-left: 3%;
        .elements-name{
            margin-right: auto;
            @media only screen and (min-width: 768px){
                padding-right: 20em;
            }
            
            h3{
                margin-bottom: 0;
                margin-top: 10%;
            }
            P{
                margin-top: 3%;
            }
        }
        .fa-regular{
                grid-column: 2/2;
                grid-row: 1/2;
                display: flex;
                justify-content: center;
                font-size: x-large;
                align-items: center;
                &:hover{
                    background: -webkit-gradient(linear, left top, right bottom,from(#ff79da), to(#9356dc));
                    background: -webkit-linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                }          
            }
        .fa-solid{
                grid-column: 2/2;
                grid-row: 1/2;
                display: flex;
                justify-content: center;
                font-size: x-small;
                color: #f6f6f6;
                align-items: center;
                &:hover{
                    background: -webkit-gradient(linear, left top, right bottom,from(#ff79da), to(#9356dc));
                    background: -webkit-linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: x-large;
                    transition: 0.1s ease-in-out;
                }        
            }          
    }
    
}
