@use "../Base/Polices";
@use "../Utils/variables";
header{
    display: flex;
    align-items: center;
    @media only screen and (min-width: 992px){
                justify-content: center;
            }
    
    a{
        position: absolute;
        padding-left: 10%;
        @media only screen and (min-width: 768px){
            left: 1%;
        }
    &:hover{
        font-size: xx-large;
        background: -webkit-gradient(linear, left top, right bottom,from(#ff79da), to(#9356dc));
        background: -webkit-linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    }
}
.images img{
    width: 100%;
    height: 17em;
    max-height: 17em;
    object-fit: cover;
    @media only screen and (min-width: 768px){
        height: 29em;
        max-height: 29em;
    }
}
.Menu{
    display: flex;
    flex-direction: column;
    border-radius: 33px 33px 0px 0px;
    margin-top: -3em;
    position: relative;
    background: #f6f6f6;
    .Name{
        display:grid;
        align-items: center;
        h1{
            margin-right: auto;
            margin-left: 5%;
            font-family: $font-family-logo;
            font-size: x-large;
            font-weight: 500;
            @media only screen and (min-width: 768px){
                margin-right: 12em;
            }
        }
        .fa-regular{
            grid-column: 2/2;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            font-size: x-large;
            @media only screen and (min-width: 768px){
                font-size: xx-large;
            }            
        }
        .fa-solid{
            grid-column: 2/2;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            font-size: x-small;
            color: #f6f6f6;
            &:hover
            {
                background: -webkit-gradient(linear, left top, right bottom,from(#ff79da), to(#9356dc));
                background: -webkit-linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
	            -webkit-background-clip: text;
	            -webkit-text-fill-color: transparent;
                transform: scale(2.6);
                transition: 0.1s ease-in-out;
                @media only screen and (min-width: 768px){
                    
                    font-size: small;
                }
            }            
        }
    }
}
        h2{
            font-family: $font-family-title;
            margin: 3% 0% 0% 5%;
            border-bottom: 4px solid #9fe3d2;
            width: 12%;
            font-size: large;
            font-weight: 100;
        }
.elements-menu{
    margin: 0% 5% 0% 5%;
    @media only screen and (min-width: 768px){
        margin: 0%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    .menu-description{
        display:flex;
        border-radius: 14px;
        background: white;
        box-shadow: 1px 2px 10px #b7b7b7;
        margin: 5% 0% 5% 0%;
        overflow: hidden;
        text-overflow: ellipsis;
       animation-duration: 1s;
       -moz-animation-name:show;
       -webkit-animation-name:show;
       animation-delay: 2s;
       animation: show 1s 1s ease-in-out;
       animation-fill-mode: backwards;
       transition: all 1s ease-in-out;
       @media only screen and (min-width: 768px){
        width: 23em;
        margin: 2%;
    }
        &:hover .fa-solid{
            rotate: 360deg;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s ease-in-out;
        }
        &:hover .border-check{
            width: 4em;
            opacity: 100;
        }
        .border-check{
            display: flex;
            align-items: center;
            opacity: 0;
            width: 0;
            transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
            justify-content: center;
            border-radius: 0px 14px 14px 0px;
            background: #99e2d0;
            cursor: pointer;
            .fa-solid{
                color: white;
                font-size: 1.6em;
            } 
        }       
    }
    .dishes-name{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: 3%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        h3{
            margin: 13px 0px 5px 0px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            margin: 5px 0px 13px 1px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
    }
    p.price{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin: 2% 5% 4% 0%;
        font-weight: bold;
    }    
}
.elements-menu:nth-child(1){
    animation-delay: 1.0s;
}
@keyframes show{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}